In [45]:
import pandas as pd
import numpy as np

In [4]:
%%time
import bs4 as bs
import datetime as dt
import os
import pandas_datareader.data as web
import pickle
import requests

CPU times: user 19 µs, sys: 0 ns, total: 19 µs
Wall time: 26 µs

In [5]:
def save_sp500_tickers():
    resp = requests.get('http://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
    soup = bs.BeautifulSoup(resp.text, 'lxml')
    table = soup.find('table', {'class': 'wikitable sortable'})
    tickers = []
    for row in table.findAll('tr')[1:]:
        ticker = row.findAll('td')[0].text
        tickers.append(ticker)

    with open("sp500tickers.pickle","wb") as f:
        pickle.dump(tickers,f)

    return tickers

save_sp500_tickers()

['MMM',
 'ABT',
 'ABBV',
 'ACN',
 'ATVI',
 'AYI',
 'ADBE',
 'AMD',
 'AAP',
 'AES',
 'AET',
 'AMG',
 'AFL',
 'A',
 'APD',
 'AKAM',
 'ALK',
 'ALB',
 'ARE',
 'ALXN',
 'ALGN',
 'ALLE',
 'AGN',
 'ADS',
 'LNT',
 'ALL',
 'GOOGL',
 'GOOG',
 'MO',
 'AMZN',
 'AEE',
 'AAL',
 'AEP',
 'AXP',
 'AIG',
 'AMT',
 'AWK',
 'AMP',
 'ABC',
 'AME',
 'AMGN',
 'APH',
 'APC',
 'ADI',
 'ANDV',
 'ANSS',
 'ANTM',
 'AON',
 'AOS',
 'APA',
 'AIV',
 'AAPL',
 'AMAT',
 'APTV',
 'ADM',
 'ARNC',
 'AJG',
 'AIZ',
 'T',
 'ADSK',
 'ADP',
 'AZO',
 'AVB',
 'AVY',
 'BHGE',
 'BLL',
 'BAC',
 'BK',
 'BAX',
 'BBT',
 'BDX',
 'BRK.B',
 'BBY',
 'BIIB',
 'BLK',
 'HRB',
 'BA',
 'BKNG',
 'BWA',
 'BXP',
 'BSX',
 'BHF',
 'BMY',
 'AVGO',
 'BF.B',
 'CHRW',
 'CA',
 'COG',
 'CDNS',
 'CPB',
 'COF',
 'CAH',
 'KMX',
 'CCL',
 'CAT',
 'CBOE',
 'CBRE',
 'CBS',
 'CELG',
 'CNC',
 'CNP',
 'CTL',
 'CERN',
 'CF',
 'SCHW',
 'CHTR',
 'CVX',
 'CMG',
 'CB',
 'CHD',
 'CI',
 'XEC',
 'CINF',
 'CTAS',
 'CSCO',
 'C',
 'CFG',
 'CTXS',
 'CLX',
 'CME',
 'CMS',
 'KO',
 'CTSH',
 'CL',
 'CMCSA',
 'CMA',
 'CAG',
 'CXO',
 'COP',
 'ED',
 'STZ',
 'COO',
 'GLW',
 'COST',
 'COTY',
 'CCI',
 'CSX',
 'CMI',
 'CVS',
 'DHI',
 'DHR',
 'DRI',
 'DVA',
 'DE',
 'DAL',
 'XRAY',
 'DVN',
 'DLR',
 'DFS',
 'DISCA',
 'DISCK',
 'DISH',
 'DG',
 'DLTR',
 'D',
 'DOV',
 'DWDP',
 'DPS',
 'DTE',
 'DRE',
 'DUK',
 'DXC',
 'ETFC',
 'EMN',
 'ETN',
 'EBAY',
 'ECL',
 'EIX',
 'EW',
 'EA',
 'EMR',
 'ETR',
 'EVHC',
 'EOG',
 'EQT',
 'EFX',
 'EQIX',
 'EQR',
 'ESS',
 'EL',
 'ES',
 'RE',
 'EXC',
 'EXPE',
 'EXPD',
 'ESRX',
 'EXR',
 'XOM',
 'FFIV',
 'FB',
 'FAST',
 'FRT',
 'FDX',
 'FIS',
 'FITB',
 'FE',
 'FISV',
 'FLIR',
 'FLS',
 'FLR',
 'FMC',
 'FL',
 'F',
 'FTV',
 'FBHS',
 'BEN',
 'FCX',
 'GPS',
 'GRMN',
 'IT',
 'GD',
 'GE',
 'GGP',
 'GIS',
 'GM',
 'GPC',
 'GILD',
 'GPN',
 'GS',
 'GT',
 'GWW',
 'HAL',
 'HBI',
 'HOG',
 'HRS',
 'HIG',
 'HAS',
 'HCA',
 'HCP',
 'HP',
 'HSIC',
 'HSY',
 'HES',
 'HPE',
 'HLT',
 'HOLX',
 'HD',
 'HON',
 'HRL',
 'HST',
 'HPQ',
 'HUM',
 'HBAN',
 'HII',
 'IDXX',
 'INFO',
 'ITW',
 'ILMN',
 'IR',
 'INTC',
 'ICE',
 'IBM',
 'INCY',
 'IP',
 'IPG',
 'IFF',
 'INTU',
 'ISRG',
 'IVZ',
 'IPGP',
 'IQV',
 'IRM',
 'JEC',
 'JBHT',
 'SJM',
 'JNJ',
 'JCI',
 'JPM',
 'JNPR',
 'KSU',
 'K',
 'KEY',
 'KMB',
 'KIM',
 'KMI',
 'KLAC',
 'KSS',
 'KHC',
 'KR',
 'LB',
 'LLL',
 'LH',
 'LRCX',
 'LEG',
 'LEN',
 'LUK',
 'LLY',
 'LNC',
 'LKQ',
 'LMT',
 'L',
 'LOW',
 'LYB',
 'MTB',
 'MAC',
 'M',
 'MRO',
 'MPC',
 'MAR',
 'MMC',
 'MLM',
 'MAS',
 'MA',
 'MAT',
 'MKC',
 'MCD',
 'MCK',
 'MDT',
 'MRK',
 'MET',
 'MTD',
 'MGM',
 'KORS',
 'MCHP',
 'MU',
 'MSFT',
 'MAA',
 'MHK',
 'TAP',
 'MDLZ',
 'MON',
 'MNST',
 'MCO',
 'MS',
 'MOS',
 'MSI',
 'MSCI',
 'MYL',
 'NDAQ',
 'NOV',
 'NAVI',
 'NKTR',
 'NTAP',
 'NFLX',
 'NWL',
 'NFX',
 'NEM',
 'NWSA',
 'NWS',
 'NEE',
 'NLSN',
 'NKE',
 'NI',
 'NBL',
 'JWN',
 'NSC',
 'NTRS',
 'NOC',
 'NCLH',
 'NRG',
 'NUE',
 'NVDA',
 'ORLY',
 'OXY',
 'OMC',
 'OKE',
 'ORCL',
 'PCAR',
 'PKG',
 'PH',
 'PAYX',
 'PYPL',
 'PNR',
 'PBCT',
 'PEP',
 'PKI',
 'PRGO',
 'PFE',
 'PCG',
 'PM',
 'PSX',
 'PNW',
 'PXD',
 'PNC',
 'RL',
 'PPG',
 'PPL',
 'PX',
 'PFG',
 'PG',
 'PGR',
 'PLD',
 'PRU',
 'PEG',
 'PSA',
 'PHM',
 'PVH',
 'QRVO',
 'PWR',
 'QCOM',
 'DGX',
 'RRC',
 'RJF',
 'RTN',
 'O',
 'RHT',
 'REG',
 'REGN',
 'RF',
 'RSG',
 'RMD',
 'RHI',
 'ROK',
 'COL',
 'ROP',
 'ROST',
 'RCL',
 'CRM',
 'SBAC',
 'SCG',
 'SLB',
 'STX',
 'SEE',
 'SRE',
 'SHW',
 'SPG',
 'SWKS',
 'SLG',
 'SNA',
 'SO',
 'LUV',
 'SPGI',
 'SWK',
 'SBUX',
 'STT',
 'SRCL',
 'SYK',
 'STI',
 'SIVB',
 'SYMC',
 'SYF',
 'SNPS',
 'SYY',
 'TROW',
 'TTWO',
 'TPR',
 'TGT',
 'TEL',
 'FTI',
 'TXN',
 'TXT',
 'TMO',
 'TIF',
 'TWX',
 'TJX',
 'TMK',
 'TSS',
 'TSCO',
 'TDG',
 'TRV',
 'TRIP',
 'FOXA',
 'FOX',
 'TSN',
 'UDR',
 'ULTA',
 'USB',
 'UAA',
 'UA',
 'UNP',
 'UAL',
 'UNH',
 'UPS',
 'URI',
 'UTX',
 'UHS',
 'UNM',
 'VFC',
 'VLO',
 'VAR',
 'VTR',
 'VRSN',
 'VRSK',
 'VZ',
 'VRTX',
 'VIAB',
 'V',
 'VNO',
 'VMC',
 'WMT',
 'WBA',
 'DIS',
 'WM',
 'WAT',
 'WEC',
 'WFC',
 'WELL',
 'WDC',
 'WU',
 'WRK',
 'WY',
 'WHR',
 'WMB',
 'WLTW',
 'WYN',
 'WYNN',
 'XEL',
 'XRX',
 'XLNX',
 'XL',
 'XYL',
 'YUM',
 'ZBH',
 'ZION',
 'ZTS']

In [19]:
f = open("sp500tickers.pickle", "rb")
load_a = pickle.load(f)

In [39]:
%%time
# save_sp500_tickers()
def get_data_from_yahoo(tickers):
    
    start = dt.datetime(2015, 1, 1)
    end = dt.datetime.now()
    for ticker in tickers:
        # just in case your connection breaks, we'd like to save our progress!
        if not os.path.exists('stock_dfs/{}.csv'.format(ticker)):
            df = web.DataReader(ticker, 'morningstar', start, end)
            df.reset_index(inplace=True)
            df.set_index("Date", inplace=True)
            df = df.drop("Symbol", axis=1)
            df.to_csv('stock_dfs/{}.csv'.format(ticker))
        else:
            print('Already have {}'.format(ticker))

get_data_from_yahoo(load_a[0:20])

CPU times: user 2.29 s, sys: 0 ns, total: 2.29 s
Wall time: 17.1 s

In [40]:
%%time
# save_sp500_tickers()
def get_data_from_yahoo(tickers):
    
    start = dt.datetime(2015, 1, 1)
    end = dt.datetime.now()
    for ticker in tickers:
        # just in case your connection breaks, we'd like to save our progress!
        if not os.path.exists('stock_dfs/{}.csv'.format(ticker)):
            df = web.DataReader(ticker, 'morningstar', start, end)
            df.reset_index(inplace=True)
            df.set_index("Date", inplace=True)
            df = df.drop("Symbol", axis=1)
            df.to_csv('stock_dfs/{}.csv'.format(ticker))
        else:
            print('Already have {}'.format(ticker))

get_data_from_yahoo(load_a[20:40])

CPU times: user 2.26 s, sys: 13.3 ms, total: 2.27 s
Wall time: 1min 20s

In [43]:
# %%time
# # save_sp500_tickers()
# def get_data_from_yahoo(tickers):
    
#     start = dt.datetime(2015, 1, 1)
#     end = dt.datetime.now()
#     for ticker in tickers:
#         # just in case your connection breaks, we'd like to save our progress!
#         if not os.path.exists('stock_dfs/{}.csv'.format(ticker)):
#             df = web.DataReader(ticker, 'morningstar', start, end)
#             df.reset_index(inplace=True)
#             df.set_index("Date", inplace=True)
#             df = df.drop("Symbol", axis=1)
#             df.to_csv('stock_dfs/{}.csv'.format(ticker))
#         else:
#             print('Already have {}'.format(ticker))

# get_data_from_yahoo(load_a[40:60])

In [ ]:
# %%time
# # save_sp500_tickers()
# def get_data_from_yahoo(tickers):
    
#     start = dt.datetime(2015, 1, 1)
#     end = dt.datetime.now()
#     for ticker in tickers:
#         # just in case your connection breaks, we'd like to save our progress!
#         if not os.path.exists('stock_dfs/{}.csv'.format(ticker)):
#             df = web.DataReader(ticker, 'morningstar', start, end)
#             df.reset_index(inplace=True)
#             df.set_index("Date", inplace=True)
#             df = df.drop("Symbol", axis=1)
#             df.to_csv('stock_dfs/{}.csv'.format(ticker))
#         else:
#             print('Already have {}'.format(ticker))

# get_data_from_yahoo(load_a[60:80])

In [47]:
pd.read_csv("stock_dfs/A.csv")

           Date  Close    High      Low   Open   Volume
0    2015-01-01  40.94  40.940  40.9400  40.94        0
1    2015-01-02  40.56  41.310  40.3700  41.18  1530798
2    2015-01-05  39.80  40.460  39.7000  40.32  2042240
3    2015-01-06  39.18  40.020  39.0200  39.81  2084562
4    2015-01-07  39.70  39.810  39.2900  39.52  3359660
5    2015-01-08  40.89  40.980  40.1800  40.24  2116341
6    2015-01-09  40.59  41.000  40.2900  41.00  1644939
7    2015-01-12  40.11  40.720  39.9500  40.61  2771191
8    2015-01-13  39.55  40.700  39.3300  40.47  2013474
9    2015-01-14  39.06  39.100  38.2100  39.03  5134006
10   2015-01-15  38.01  39.408  37.9900  39.33  2630296
11   2015-01-16  38.25  38.460  37.7600  37.83  3003980
12   2015-01-19  38.25  38.250  38.2500  38.25        0
13   2015-01-20  37.93  38.660  37.7600  38.43  5033605
14   2015-01-21  38.16  38.410  37.6800  37.75  2721609
15   2015-01-22  39.65  39.860  38.1200  38.51  4856573
16   2015-01-23  38.81  39.600  38.7600  39.60  1519250
17   2015-01-26  39.15  39.170  38.4700  38.79  1511214
18   2015-01-27  38.75  39.250  38.5800  38.70  1703508
19   2015-01-28  38.00  39.050  37.9600  39.01  2033523
20   2015-01-29  38.46  38.470  37.6900  38.00  2329983
21   2015-01-30  37.77  38.320  37.7100  38.01  3054313
22   2015-02-02  38.69  38.760  37.7100  37.90  2508493
23   2015-02-03  39.62  39.630  38.9200  39.04  2950375
24   2015-02-04  39.11  39.460  38.8200  39.33  2567439
25   2015-02-05  39.53  39.820  39.2200  39.22  1826367
26   2015-02-06  39.34  39.810  39.2250  39.54  2697212
27   2015-02-09  39.04  39.430  38.9500  39.23  3586102
28   2015-02-10  39.67  39.760  38.7800  39.31  1408747
29   2015-02-11  39.33  39.810  39.2326  39.64  3337005
..          ...    ...     ...      ...    ...      ...
842  2018-03-26  68.20  68.285  66.6550  67.20  2263757
843  2018-03-27  67.00  68.630  66.5400  68.48  2104527
844  2018-03-28  66.40  67.380  65.8100  67.22  2267763
845  2018-03-29  66.90  67.580  66.1100  66.75  2711285
846  2018-03-30  66.90  66.900  66.9000  66.90        0
847  2018-04-02  64.43  66.970  63.7300  66.65  3085753
848  2018-04-03  65.42  65.880  64.6200  64.94  2286132
849  2018-04-04  65.45  65.645  63.6450  64.15  5084054
850  2018-04-05  65.68  66.310  65.5000  65.82  2120181
851  2018-04-06  63.65  65.560  63.3800  65.01  3578587
852  2018-04-09  65.19  66.250  64.0800  64.92  2639750
853  2018-04-10  66.64  66.790  65.9000  66.14  2120887
854  2018-04-11  66.08  66.600  65.8200  65.98  1391380
855  2018-04-12  67.20  67.640  66.4535  66.56  2180892
856  2018-04-13  67.21  67.670  66.8800  67.50  2043908
857  2018-04-16  68.17  68.370  67.4900  67.83  2887820
858  2018-04-17  68.44  68.850  68.0700  68.60  2682621
859  2018-04-18  69.55  70.290  68.6500  69.12  2678311
860  2018-04-19  67.97  69.590  67.3600  69.48  2435090
861  2018-04-20  67.55  68.260  67.3200  68.04  1917243
862  2018-04-23  68.07  68.670  67.5300  67.71  2260555
863  2018-04-24  66.64  67.905  66.0400  66.39  3701595
864  2018-04-25  65.80  67.080  64.9100  66.69  4451605
865  2018-04-26  66.37  66.760  65.8950  66.22  1978569
866  2018-04-27  66.28  66.560  65.9600  66.34  1189195
867  2018-04-30  65.74  66.660  65.7300  66.49  2277705
868  2018-05-01  66.24  66.350  65.4900  65.63  3135146
869  2018-05-02  65.91  66.860  65.7700  66.00  2240482
870  2018-05-03  66.34  66.460  64.8600  65.77  2365851
871  2018-05-04  67.00  67.250  65.5400  66.03  1331017

[872 rows x 6 columns]

In [42]:
# %%time
# # save_sp500_tickers()
# def get_data_from_yahoo(reload_sp500=False):
#     if reload_sp500:
#         tickers = save_sp500_tickers()
#     else:
#         with open("sp500tickers.pickle", "rb") as f:
#             tickers = pickle.load(f)
#     if not os.path.exists('stock_dfs'):
#         os.makedirs('stock_dfs')

#     start = dt.datetime(2015, 1, 1)
#     end = dt.datetime.now()
#     for ticker in tickers:
#         # just in case your connection breaks, we'd like to save our progress!
#         if not os.path.exists('stock_dfs/{}.csv'.format(ticker)):
#             df = web.DataReader(ticker, 'morningstar', start, end)
#             df.reset_index(inplace=True)
#             df.set_index("Date", inplace=True)
#             df = df.drop("Symbol", axis=1)
#             df.to_csv('stock_dfs/{}.csv'.format(ticker))
#         else:
#             print('Already have {}'.format(ticker))

# get_data_from_yahoo()